/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root {
--primary-color: #ff6b08;
--dark-color: rgb(0, 0, 0);
--light-dark-color: rgb(24, 25, 29);
--light-gray-color: rgb(185, 185, 185);
--gray-color: rgb(133, 133, 133);
--white-color: rgb(255, 255, 255);
--dark-bg-color: rgb(17, 21, 23);

--shadow-first-color: rgba(29, 29, 27, 0.039);
--shadow-secondary-color: rgba(29, 29, 27, 0.11);
--shadow-third-color: rgba(29, 29, 27, 0.09);

--bg-quarantees-color: rgb(241, 241, 241);
--text-footer-color: rgba(253, 254, 254, 0.42);
  
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: --white-color;
}

.list {
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.button {
  border: none;
  cursor: pointer;
}

.container {
  width: 280px;
  margin: 0 auto;

  /* @media (min-width: 768px) {
    width: 688px;
  }

  @media (min-width: 1280px) {
    width: 1210px;
  }

  @media (min-width: 1680px) {
    width: 1340px;
  } */
}



.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}

/* ! quarantees */
.guarantees {
padding-top: 30px;
padding-bottom: 30px;
}

.section-title {
  font-size: 20px;
  color: var(--dark-bg-color);
  font-weight: 800;
  line-height: 3.127;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.guarantees__list {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 34px;
  letter-spacing: 0.55px;
  position: relative;
}

.guarantees__item {
  color: var(--light-dark-color);
  line-height: 1.818;
  font-weight: 500;
  letter-spacing: 0.55px;
  position: relative;
}

.guarantees__item:not(:last-child) {
  margin-bottom: 20px;
}

.guarantees__item--highlight {
  color: var(--primary-color);
 }

.guarantees__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/guarantees/noun_Campfire_2425646.svg);
  background-repeat: no-repeat;
  background-position: center; 
  position: absolute;
  transform: translate(-37px, 0px);
  z-index: 1;
}

.guarantees__item:not(:last-child)::after {
  content: '';
  display: block;
  width: 2px;
  height: 120%;
  border-width: 1px;
  border-color: rgb(186, 186, 186);
  border-style: dotted;
  position: absolute;
  top: 15px;
  left: -26px;
} 

/* ! registration */
.registration {
  padding-top: 54px;
  padding-bottom: 58px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(17, 21, 23);
  background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-mobile.JPG);
}

@media (min-resolution: 192dpi) {
  .registration {
    background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-mobile@2x.JPG);
  }
}

.registration__title {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.7px;
  margin-bottom: 12px;
}

.registration__title--highlight,
.registration__description--highlight {
  color: rgb(255, 107, 8);
}

.registration__title--new-line {
  display: block;
}

.registration__description {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.818;
  text-align: center;
  letter-spacing: 0.55px;
  margin-bottom: 26px;
}

.input {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: transparent;
  width: 278px;
  height: 48px;
  display: block;
  margin: auto;
  padding-left: 22px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 2.885;
  letter-spacing: 0.65px;
  text-align: left;
}

.registration__client-name {
  margin-bottom: 20px;
}

.registration__client-phone {
  margin-bottom: 54px;
}

.input::placeholder {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 2.885;
  letter-spacing: 0.65px;
  text-align: left;
}

.invite-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.43px;
  width: 246px;
  height: 44px;
  border-width: 2px;
  border-color: rgb(255, 107, 8);
  border-style: solid;
  background-color: rgb(255, 107, 8);
  display: block;
  margin: auto;
}

.invite-button:hover {
  border-color: rgb(211, 85, 38);
  background-color: rgb(211, 85, 38);
}

@media (max-width: 767px) {
  .registration__title--new-line-mobile {
    display: block;
  }
  .guarantees__list-wrapper {
    background-color: var(--bg-quarantees-color);
  }
}

/* ! Tablet */
@media (min-width: 768px) {
  .container {
    width: 688px;
  }

  /* ! quarantees-tablet */
  .guarantees {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .section-title {
    font-size: 26px;
    line-height: 2.405;
    letter-spacing: 1.3px;
    margin-bottom: 20px;
  }

  .guarantees__list {
    background-color: var(--bg-quarantees-color);
    padding: 36px 50px 30px 98px;
  }

/* ! registration-tablet */
.registration {
  padding-top: 46px;
  padding-bottom: 64px;

  background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-tablet.JPG);
}

@media (min-resolution: 192dpi) {
  .registration {
    background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-tablet@2x.JPG);
  }
}

.registration__title {
  font-size: 22px;
  line-height: 1.729;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
}

.registration__description {
  font-size: 15px;
  line-height: 1.333;
  letter-spacing: 0.75px;
  margin-bottom: 52px;
}

.input {
  width: 398px;
}

.registration__client-phone {
  margin-bottom: 30px;
}

.registration__description--new-line {
  display: block;
}
}

/* ! 1280px */
@media (min-width: 1280px) {
  .container {
    width: 1210px;
  }

/* ! quarantees-1280px */
  .section-title {
    font-size: 42px;
    line-height: 1.489;
    letter-spacing: 2.1px;
    margin-bottom: 34px;
  }

  .guarantees__list {
    padding: 50px 134px 44px 172px;
  }

  .guarantees__item {
    font-size: 18px;
    line-height: 1.62;
    letter-spacing: 0.9px;
  }

/* ! registration-1280px */

.registration {
  padding-top: 86px;
  padding-bottom: 88px;
  background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-1280px.JPG);
}

@media (min-resolution: 192dpi) {
  .registration {
    background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-1280px@2x.JPG);
  }
}

.registration__title {
  font-size: 38px;
  line-height: 1.334;
  letter-spacing: 1.9px;
  margin-bottom: 52px;
}

.registration__description {
  font-size: 18px;
  line-height: 1.361;
  letter-spacing: 0.9px;
  }

  .input {
    width: 618px;
    height: 70px;
    padding-left: 26px;
    font-size: 21px;
    line-height: 1.8;
    letter-spacing: 1.05px;
  }

  .input::placeholder {
    font-size: 21px;
    line-height: 1.8;
    letter-spacing: 1.05px;
  }

  .registration__client-name {
    margin-bottom: 28px;
  }
}

/* ! 1680px */
@media (min-width: 1680px) {
  .container {
    width: 1340px;
  }

/* ! quarantees-1680px */
.section-title {
  font-size: 46px;
  line-height: 1.365;
  letter-spacing: 2.3px;
  margin-bottom: 44px;
}

.guarantees__list {
 padding: 65px 138px 58px 148px;
}

.guarantees__item {
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: 1.05px;
}

/* ! registration-1680px */

.registration {
  padding-top: 128px;
  padding-bottom: 100px;
  background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-1680px.JPG);
}

@media (min-resolution: 192dpi) {
  .registration {
    background-image: linear-gradient( rgba(17, 21, 23, 0.7), rgba(17, 21, 23, 0.7) ),
    repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.3) 6px,
    rgba(0, 0, 0, 0.3) 6px
  ),
  url(../img/registration/lesson-1680px@2x.JPG);
  }
}

.registration__title {
  margin-bottom: 70px;
  padding: 0px 28px;
}

.registration__description {
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 1.25px;
  }

}